.header {
  min-width: 360px;
  width: auto;
  min-height: 45px;
  height: auto;

  display: flex;
  padding: 8px 16px;
  gap: 8px;
  align-items: center;
  background-color: var(--main1);
}
.header > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;

  font-size: var(--h1FontSize);
  color: var(--white);
}

/* Icons */
/* .icon-container {
  width: 24px;
  height: 24px;
}
.icon-container svg {
  width: 100%;
  height: 100%;
} */