.card {
  min-width: 360px;
  width: 100%;
  min-height: 45px;
  height: auto;
  padding: 16px;

  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 4px; /* ←It has to delete at the end */

  border-radius: 16px;
  background: var(--colorNotes1);
}

.card--header {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}
.card--title {
  display: flex;
  width: 100%;
  min-width: 328px;
  justify-content: space-between;
  align-items: center;
  /* gap: 20px; */
}
.card--title h2{
  color: var(--white);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.card--progress-bar {
  width: 100%;
  min-width: 328px;
  height: 8px;
  flex-shrink: 0;
  
  border-radius: 4px;
  background-color: var(--white);
}
.card--progress-bar--completed {
  width: calc(100% / 3);
  height: 8px;
  flex-shrink: 0; /* ??? */
  border-radius: 4px;
  background: var(--stateSuccess);
}
.card--content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}
li {
  list-style: none;
}
ul {
  width: 100%;
}
.tuduItem {
  width: 100%;
  min-width: 328px;
  height: auto;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  margin-bottom: 2px;
  padding: 8px;
  background: var(--white);  
}
.tuduItem p {
  flex: 1 0 0;

  /* Text */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.completed {
  color: var(--gray4);
  text-decoration: line-through;
}