.TuduItem {
  width: 100%;
  min-width: 284px;
  height: auto;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  margin-bottom: 2px;
  padding: 8px;
  background: var(--white);  
}
.TuduItem p {
  flex: 1 0 0;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.icon {
  /* min-width: 24px;
  min-height: 24px; */
  width: 24px;
  height: 24px;
}
.icon-completed {
  color: green;
  text-decoration: line-through;
}
.icon-incompleted {
  color: blue);
  text-decoration: line-through;
}